<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<br />
<br />
<br />
<br />
<br />
<div class="row" style="height:350px">
    <div class="col-1"></div>
    <div class="col-10" style="max-width:initial;">
        <div class="row">
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/WeedProblem.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a asp-controller="Weed" asp-action="WeedProblem"
                           style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:145px ;margin-top: 15px; position:absolute">
                            Weed Problem
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 65px; position:absolute">
                           Find out the various reasons why weeds grow back
                            and their effects.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/WeedPrevention.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a asp-controller="Weed" asp-action="WeedPrevention"
                           style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:125px ;margin-top: 15px; position:absolute">
                            Weed Prevention
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 65px; position:absolute">
                            To make your weed removal efforts long-lasting, you can take some proactive measures to delay unwanted plants from growing back again
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row" style="height:350px">
    <div class="col-1"></div>
    <div class="col-10" style="max-width:initial;">
        <div class="row">
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/WeedRemoval.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a asp-controller="Weed" asp-action="WeedRemoval"
                           style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:95px ;margin-top: 15px; position:absolute">
                            Weed Removal Methods
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 70px; position:absolute">
                            Find out many different techniques for removing and controlling
                            Weeds
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/WeedDisposal.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a asp-controller="Weed" asp-action="WeedDisposal"
                           style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:145px ;margin-top: 15px; position:absolute">
                            Weed Disposal
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 70px; position:absolute">
                            Find out Some of the ways that you can help minimise the spread of
                            weeds through responsible disposal of garden waste and weeds.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>