
<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<div class="container">
    <div class="row" width:750px">
        <div class="col-2">

        </div>
        <div class="col-8">
            <br />
            <br />
            <br />
            <div style="text-align:center; color: rgb(32,169,218); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <h3>Weed Prevention </h3>
            </div>
            <br />
            <br />
            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <p>
                    Prevention is the most effective method of dealing with weeds. Once a weed has entered an area and become established, eradication is far more expensive, and it is likely that greater resources will be required to control its further spread and reduce its impact.
                </p>
                <p>The first step in weed prevention, and the most cost-effective means of managing weeds, is preventing the entry of new weeds into Australia. Early detection and eradication require an awareness and understanding of the factors that favour the establishment and spread of weeds and applying appropriate management practices that can prevent or reduce the risks.</p>
                <br />
                <p>
                    Measures for weed prevention in your garden include:
                </p>
                <p>
                    <ul>
                        <li>Choose plants that are unlikely to become weeds in your area.</li>
                        <li>Check existing garden plants are safe.</li>
                        <li>Remove potentially weedy plants.</li>
                        <li>Dispose of garden waste carefully.</li>
                        <li>Be careful not to spread weeds.</li>
                        <li>Place mulch on soil surfaces in the garden to reduce weeds growth.</li>
                    </ul>
                </p>
                <br />
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
