
<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<div class="container">
    <div class="row" width:750px">
        <div class="col-2">

        </div>
        <div class="col-8">
            <br />
            <br />
            <br />
            <div style="text-align:center; color: rgb(32,169,218); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <h3>Weed Disposal</h3>
            </div>
            <br />
            <br />
            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">

                <p>
                    Poor disposal, such as dumping garden waste in bushland, is one of the main ways that weeds escape from gardens and start growing in bushland and waterways. Some of the ways that you can help minimise the spread of weeds through responsible disposal of garden waste include:
                </p>
                <p>
                    <ul>
                        <li>Never dump garden waste over the back fence or in bushland.</li>
                        <li>Dispose of weeds that are already seeding or readily able to reproduce vegetatively, including through suckers and bulbs, by placing them in a black plastic bag, sealing it and 'baking it' in the sun until destroyed. This method alone may not kill all parts of the weed, for example bulbs, and may need to be used in combination with other methods such as mulching. If unsure, contact on expert for advice.</li>
                        <li>Cover your compost so that seeds cannot be distributed by wind or animals.</li>
                        <li>Be careful when mulching weeds.</li>
                        <li>Remove seed heads from plants before they have time to mature and disperse.</li>
                        <li>Compost or dispose of garden and green waste in council green waste collections or by carefully transporting it to your council's green waste tip.</li>
                        <li>Always cover trailers when transporting plant material to prevent seeds and other live plant material falling off.</li>
                        <li>Consider carefully what plants you buy for ponds and aquariums and never dump aquarium water or contents down drains or into waterways.</li>
                        <li>
                            Report any weed infested vacant blocks to the local council.
                            Check with your local council about what garden waste disposal facilities are available in your area.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
