
<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<div class="container">
    <div class="row" width:750px">
        <div class="col-2">

        </div>
        <div class="col-8">
            <br />
            <br />
            <br />
            <div style="text-align:center; color: rgb(32,169,218); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <h3>Weed Removal Methods</h3>
            </div>
            <br />
            <br />
            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <p>
                    There are many different techniques for removing and controlling weeds. Before taking any action, you should first assess your situation to determine the best method of removal. You should also consider how your actions might affect any animals that use the weeds for habitat. Your first step in controlling weeds is to attempt to remove the parent plant that may be spreading seeds. If weeds can be killed where they stand, it will save you from having to remove the weeds and dispose of them.
                </p>
                <br />
                <p>
                    The following are the weed removal methods:
                </p>
                <br />
                <h6 style="color: rgb(32,169,218);">1. Using herbicides </h6>
                <br />
                <p>
                    When using herbicide, consider the time of year and the growing stage of the plant.
                    Most plants should be treated with herbicide when they are actively growing. Deciduous plants that lose their leaves seasonally should be treated in late spring or summer while they are in full leaf. Bulbous plants should be treated before they flower.
                </p>
                <p>
                    Before purchasing an herbicide, refer to online encyclopedias to identify the type of weeds that you have.
                    Wearing things like an apron, rubber gloves, protective eye-wear, and a face-mask will protect you from any herbicides that may inadvertently get on you.
                </p>
                <br />
                <h6 style="color: rgb(32,169,218);">2.  Drill and fill, frilling and chipping </h6>
                <br />
                <p>Drill and fill, frilling and chipping methods are suitable for woody weeds larger than 7.5cm in diameter.</p>
                <p>To remove weeds using this method:</p>
                <p>
                    <ul>
                        <li>Make a 45-degree hole, 2-3cm deep, as far down at the base of the tree as possible. Holes can be created using a drill, or by hitting a chisel into the tree.</li>
                        <li>
                            Fill the hole immediately with a registered herbicide.
                        </li>
                        <li>
                            Repeat this process at intervals of 3cm around the entire base of the tree.

                        </li>
                        <li>If there are exposed roots, drill and fill these as well.</li>
                        <li>For frilling, use an axe to chip around the base of the tree (not too deep as you don’t want to ringbark it).</li>
                        <li>Place herbicide into the cuts, being careful not to spill or use too much herbicide.</li>
                    </ul>
                </p>
                <br />
                <h6 style="color: rgb(32,169,218);">3.Cut and Paint </h6>
                <br />
                <p>The cut and paint method is suitable for small to medium sized woody weeds up to 7.5cm in diameter.</p>
                <p>To control weeds using this method:</p>
                <p>
                    <ul>
                        <li>Gently clear away any vegetation from the treatment site.</li>
                        <li>
                            2Using secateurs, loppers or a hand saw, cut the stem of the plant as close to the ground as possible.

                        </li>
                        <li>Using a dabber bottle containing a registered herbicide, paint the stump immediately (within 20 seconds) so that the plant draws the poison into its root system.</li>
                    </ul>
                </p>
                <br />
                <h6 style="color: rgb(32,169,218);">4.Remove by hand  </h6>
                <br />
                <p>
                    Removing weeds by hand is suitable for seedlings, herbaceous weeds and many grasses.
                    When using this method to control weeds, all root matter should be removed to avoid the plant sprouting again.
                    If the plant is seeding, either cut off the seed heads or place a bag over them. This should reduce the spread of the seed.
                    For plants that have long tap roots or bulbs, use a trowel or a long knife to assist with loosening the soil. You can use a small hoe to dig in the soil around the stem to loosen the soil, then get a firm grasp of the stem and pull. You may need to dig deeper and try pulling several times until you get the entire root out successfully
                    Be sure to cover any exposed soil with organic matter to reduce future weed growth.

                </p>
                <br />
                <h6 style="color: rgb(32,169,218);">5. Gardening tool </h6>
                <br />
                <p>
                    Pulling weeds by hand is time-consuming, back-breaking work. An alternative is to use gardening tools to help. For shallow-rooted weeds, you can use a regular garden hoe, but for deep-rooted ones, I recommend you use a special tool called a winged weeder.
                    To remove weeds with the winged weeder, place the bottom tip of the blade right next to the stem and press down vertically to push the blade into the soil and then tilt the weeder downwards towards the ground to pull the whole root out. Repeat this operation as necessary. Note that using this tool is more time-consuming than using a regular hoe as you need to individually remove each unwanted plant, but it works better for deeper roots.
                    You can purchase these tools from any hardware store.

                </p>
                <br />
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
