
<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<div class="container">
    <div class="row" width:750px">
        <div class="col-2">

        </div>
        <div class="col-8">
            <br />
            <br />
            <br />
            <div style="text-align:center; color: rgb(32,169,218); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <h3>Weed Problem </h3>
            </div>
            <br />
            <br />
            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <p>
                    Weeds grow in gardens, whether we like it or not. They compete with plants and lawn grass for water and nutrients, and they grow everywhere, making the garden less attractive. To solve this problem, they must be removed.
                </p>
                <br />
                <p>
                    However, for various reasons, weeds often grow back. Here are some of the most common reasons:
                </p>
                <p>
                    <ul>
                        <li>They were not removed completely, and part of their roots stayed in the soil. The left-over roots allow them to grow again.</li>
                        <li>The garden is surrounded by woods or non-landscaped areas that contain a lot of weeds, and their seeds get carried by wind or birds to residential yards.</li>
                        <li>If they were not completely removed (all the weeds and all their roots), this makes it easier for them to return.</li>
                        <li>They might reappear because the lawn is not dense enough and the empty spots invite weeds to settle down and spread.</li>
                    </ul>
                </p>
                <br/>
                <p>
                    The question is how do we remove weeds effectively? And, once removed, how do we prevent them, as much as possible, from growing back? The following sections describes the different methods of removing weeds and preventing them from growing back for some time.
                </p>
                <br />
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
