<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<br />
<br />
<br />
<br />
<br />
<div class="row" style="height:350px">
    <div class="col-1"></div>
    <div class="col-10" style="max-width:initial;">
        <div class="row">
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/GC-Plantings.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:15px ;margin-top: 15px; position:absolute">
                            Planting
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 60px; position:absolute">
                            The ideal time for planting is after the autumn opening rains when the soil is moist, and plants have time to establish roots before the warm weather kicks in. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/GC-Waterings.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a 
                           style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:15px  ;margin-top: 15px; position:absolute">
                            Watering
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 60px; position:absolute">
                            Water-in your new plants. Over the first two summers give your plants a deep watering once a week to help them establish deep roots. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row" style="height:350px">
    <div class="col-1"></div>
    <div class="col-10" style="max-width:initial;">
        <div class="row">
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/GC-Mulch.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a
                           style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:15px  ;margin-top: 15px; position:absolute">
                            Mulch and Gravels
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 60px; position:absolute">
                            A layer of mulch added to your garden can reduce evaporative water loss by more than 70 per cent! Organic mulch keeps soil temperatures down, which benefits root density, suppresses weed growth, and helps to promote good soil structure and productivity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/GC-Fertilising.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:15px ;margin-top: 15px; position:absolute">
                            Fertilising
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 60px; position:absolute">
                            Fertilisers aren’t usually needed with local native plants. If you decide to fertilise, seek advice from your local nursery, as products with high levels of phosphorus can harm some local native plants. You’ll want to avoid rapid growth that makes your local plants leggy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row" style="height:350px">
    <div class="col-1"></div>
    <div class="col-10" style="max-width:initial;">
        <div class="row">
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/GC-Pruning.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:15px;margin-top: 15px; position:absolute">
                            Pruning
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 60px; position:absolute">
                            Pruning is beneficial for many local plants. Most species will appreciate a light trim to keep their shape, promote new growth and encourage flowering. Pruning is best done after flowering, usually late spring or early summer. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/GC-Potplants.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a style="color:#FFFFFF; font-size:24px; text-align:center; margin-left:15px  ;margin-top: 15px; position:absolute">
                            Pot Pants
                        </a>
                        <p style="color:#FFFFFF; font-size:14px;  margin-left:15px ;margin-top: 60px; position:absolute">
                            Potted local plants need a little more care than those planted out in gardens. Water your pot plants more regularly in summer and apply a low phosphorus fertiliser in spring and summer (check with your local nursery which product is best. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>