<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<div class="container">
    <div class="row" width:750px">
        <div class="col-2">

        </div>
        <div class="col-8">
            <br />
            <br />
            <br />
            <div style="text-align:center; color: rgb(32,169,218); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <h3>About Us</h3>
            </div>
            <br />
            <br />
            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                
                <br />
                <h6 style="color: rgb(32,169,218);">Weed Awareness, Garden care and sharing knowledge is what we do best! </h6>
                <br />
                <p>
                    GreenThumb Kit is a not-for-profit platform dedicated to achieving a healthy biodiverse planet and vibrant, sustainable communities. GreenThumb kit is aimed at developing an educational website to help the Victorian’s identify invasive weeds, learn about their local native plants and help them choose the right indigenous plant for garden. It also furnishes list of nearby plant nurseries. Furthermore, GreenThumb Kit lets users intelligently plan their garden space by giving them advices on what, when and how to plant their natives and provides tips on good garden care practice.
                </p>
                <br />
                <h6 style="color: rgb(32,169,218);">Vision </h6>
                <br />
                <p>A healthy biodiverse planet and vibrant sustainable communities</p>
                <br />
                <h6 style="color: rgb(32,169,218);">Mission and Purpose</h6>
                <br />
                <p>encourage, educate and enable home and professional gardeners to adopt sustainable gardening practices to protect or enhance the natural environment or a significant aspect of it.</p>
               
                <br />
                <h6 style="color: rgb(32,169,218);">We aim to achieve this by:</h6>
                <br />
                <p>
                    <ul>
                        <li>Continually improving the gardening practices of all Victorians to minimise environmental impacts at local, Australian and global scales</li>
                        <li>Reconnecting people to the natural world through gardening;</li>
                        <li>Encouraging responsible gardening practice and design to lead gardeners to respect the earth and the reality that we share, not own the land</li>
                        <li>Providing advice to the gardening profession and home gardener on sustainable practice;</li>
                        <li>Ensuring people develop an understanding of their connection with global communities and the impacts that gardening decisions about chemical and resource use have on the natural environment well beyond their neighbourhood.</li>
                    </ul>
                </p>
                <br />
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
