
<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<div class="container" >
    <div class="row" width:750px">
        <div class="col-2">

        </div>
        <div class="col-8">
            <br/>
            <br />
            <br />
            <div style="text-align:center; color: rgb(32,169,218); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <h3>Are you harbouring known villains? </h3>
            </div>
            <br />
            <br />
            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <p>
                    Weeds are plants growing where they aren’t wanted, and they aren’t
                    just sour sobs and thistles! Some plants escape from gardens and become
                    serious environmental weeds which pose a major threat on the environment
                    as they compete with native vegetation, much of which is food or homes for
                    native animals.
                </p>
                <h6 style="color: rgb(32,169,218);">Environmental and garden weeds are trouble! </h6>
                <br />
                <img src="~/resources/img/harbour2.jpg" />
                <br/>
                <br/>
                <p>
                    Invasive species, including weeds, animal pests and diseases, represent the biggest
                    threat to our biodiversity after habitat loss
                </p>
                <p>
                    They:
                    <ul>
                        <li>threaten our local native plants and environment</li>
                        <li>can reduce habitat, shelter and food for native fauna</li>
                        <li>can alter soil conditions</li>
                        <li>clog up waterways and effect water quality entering the gulf</li>
                        <li>harbour pest animals such as foxes, feral cats and rats which prey on native wildlife</li>
                        <li>can alter coastal dune shape</li>
                        <li>garden escapes are very costly to control and take resources away from other important issues.</li>
                    </ul>
                </p>
                <p>
                    Throughout Australia, weeds are spreading faster than they can be controlled. All Australian states and territories 
                    have experienced native plant invasions. Nationally the impact of invasive plants continues to increase with exotic 
                    species accounting for about 15% of all flora. This figure is increasing by about 10 species per year.
                </p>
                <br />
                <h6 style="color: rgb(32,169,218);">How do garden plants become invaders?</h6>
                <br />
                <img src="~/resources/img/harbour3.jpg" />
                <br />
                <br />
                <br />
                <p>You might not realise you’re harbouring garden escapes or might not know they ‘jump the fence’ to become problems. 
                Garden plants can escape into natural environments naturally, accidentally and deliberately. </p>
                <p>
                    They can spread by:
                    <ul>
                        <li>seeds being transported by birds and other animals; wind and water (including stormwater); humans (on clothing, shoes etc.); and on machinery such as lawn mowers </li>
                        <li>being dumped in garden waste (seeds or plant cuttings can establish up to several months later) </li>
                        <li>sometimes being deliberately planted by people in our natural environments </li>
                        <li>growing through garden fences into our coastal landscape.  </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
