
<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<div class="container">
    <div class="row" width:750px">
        <div class="col-2">

        </div>
        <div class="col-8">
            <br />
            <br />
            <br />
            <div style="text-align:center; color: rgb(32,169,218); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <h3>Why choose native plants? </h3>
            </div>
            <br />
            <br />
            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                <p>
                    Our gardens face long, hot, dry summers. They suffer water restrictions and an unpredictable climate. But you can have a garden that looks great, copes with our challenging climate and saves you money.
                    Native plants are species that would naturally occur in your neighbourhood, so they have evolved to suit local conditions, also called ‘indigenous plants’.

                </p>
                <p>
                    Choosing to grow native plants in your garden will benefit you, the local wildlife, and the environment. There are so many worthwhile reasons to choose our own special plants:
                </p>
                <h6 style="color: rgb(32,169,218);">Why use local native plants?   </h6>
                <br />
                <img src="~/resources/img/NativePlants2.jpg" style="max-width:750px" />
                <br />
                <br />
                <p>
                    The Victoria region is home to an extraordinarily diverse range of native vegetation (flora). Native vegetation refers to any naturally occurring local plant species which are indigenous to Australia, from small ground covers and native grasses to large trees and water plants. Choosing to grow native plants in your garden will benefit you, the local wildlife, and the environment. There are so many worthwhile reasons to choose our own special plants:
                    <ul>
                        <li>are low maintenance </li>
                        <li>are drought tolerant  </li>
                        <li>save you money and time  </li>
                        <li>require minimal watering conserves our water supplies </li>
                        <li>don’t need fertilisers or pesticides </li>
                        <li>provide habitat, food and shelter for local fauna such as birds, butterflies and small lizards </li>
                        <li>are adaptable for various landscaping styles, producing striking results </li>
                        <li>flower at different times of the year so you can have a flowering garden all year round.  </li>
                    </ul>
                </p>
                
                <p>
                    They have adapted to survive the harsh conditions of sand and salt blasting, prolonged sun exposure, nutrient-deprived soils, and limited water availability. They are the best plants for your neighbourhood and the environment.
                </p>
                <p>
                    Local plants are species that would naturally occur in your neighbourhood, so they have evolved to suit local conditions. They are also called ‘indigenous plants.
                </p>
                <br />


                <h6 style="color: rgb(32,169,218);">How to use local native plants? </h6>
                <br />
                <img src="~/resources/img/NativePlants3.jpg" style="height:500px" />
                <br />
                <br />
                <br />
                <p>
                    Local native plants can be incorporated into your garden the same way as exotic plants. They are suited to all landscaping styles, from formal to Japanese, contemporary to natural cottage, to courtyards and pots.
                </p>
                <p>
                    <ul>
                        <li>When you buy a seedling from a nursery, it has invariably been grown from a seed or a cutting. The geographical location or source of that seed or cutting is referred to as the plant’s ‘provenance’. The best native plants to establish in your garden are grown from seeds or cutting with a provenance as close as is reasonable, to your home. </li>
                        <li>Lots of native plants are sensitive to poor drainage, so locate the well-draining and poorly-draining areas of your garden. Then you can place a frog pond or wetland in naturally damper areas of the garden.  </li>
                        <li>If you wish to achieve a natural look, avoid planting in rows by growing several of the same species together in a clump, as this generally looks better, has greater habitat value and makes watering more efficient.  </li>
                        <li>Create a variety of mini-habitats, for example plan a shrubby area with groundcovers next to a grassland area and a wetland area. If possible, include a patch of densely planted prickly shrubs for wildlife to shelter in or under. This is particularly important for small birds and lizards. </li>
                    </ul>
                </p>
                <p>
                    As you will discover throughout this guide, there is a local plant for most garden situations. Plants featured include striking groundcovers, low shrubs, structured sedges and grasses, flowering creepers and trailers, bird-attracting shrubs and screening trees.
                </p>
                <p>
                    This guide also shows you which local species to use for particular effects and makes friendlier recommendations for replacing plants known to become invasive weeds. Use the plant selector on our website to create a list of local native plants for your suburb.
                </p>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
