
<div style="border: rgb(209,230,251) solid ;margin-left: 35px; margin-right: -8px;position: relative; z-index: -1">
</div>
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-1"></div>


    <div class="col-10" style="max-width:initial;">
        <div class="row" >
            <div class="col-6">
                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/garden.jpg" style="border-radius: 10px; max-width:440px; max-height:300px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px; 
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute; 
                         margin-top:143px">
                        <a asp-controller="Home" asp-action="Harbour"
                           style="color:#FFFFFF; font-size:18px; text-align:center; margin-left:15px ;margin-top: 55px; position:absolute">
                            Are you harbouring known villains in your garden?
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">

                <div style="max-width:initial; height:auto; position:relative">
                    <div style="position:absolute; z-index:1">
                        <img src="~/resources/img/NativePlants.jpg" style="border-radius: 10px; width:440px; max-height:290px" />
                    </div>
                    <div style="background-color: rgb(32,169,218); width: 440px;
                         height:150px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px ;z-index:4;position:absolute;
                         margin-top:143px">
                        <a asp-controller="Home" asp-action="NativePlants"
                           style="color:#FFFFFF; font-size:18px; text-align:center; margin-left:105px ;margin-top: 55px; position:absolute">
                            Why choose native plants?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
